
/****************
hello
*********************/

$light_blue : #C7F7FF;
$med_blue  :  #89C0C9;
$dark_blue  : #3a5E63;
$white: #fff;

$light_brown : #C9A689;
$dark_brown : #7C593C;

$light_grey:  #d4d4d4;
$dark_grey :  #222;

$main_font:  'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$title_font: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
